<div data-role="custom_section" data-bind="scope: 'custom_section'">
    <span class="content-type" data-bind="text: custom_section().id"></span>
    <span class="content-type" data-bind="text: custom_section().name"></span>
    <span class="content-type" data-bind="text: custom_section().email"></span>
</div>
<script type="text/x-magento-init">
{
    "[data-role=custom_section]": {
        "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout(); ?>
    }
}
</script>

